### Leer archivos con open

In [17]:
file = './recursos/archivo.txt'

In [20]:


file_for_reading = open(file , 'r')

In [23]:
file_for_writing = open(file , 'w')
file_for_writing.write("Ahora metemos algo más!")


file_for_writing.close()

In [29]:
file_for_appending= open(file , 'a')
file_for_appending.write("Ahora metemos algo más!")


file_for_appending.close()

In [28]:
print(file_for_reading.read())
#leer solo 5 caracteres
print(file_for_reading.read(5))

In [30]:
f = open(file, "r")
print(f.readline())

Now the file has more content!Ahora metemos algo más!Ahora metemos algo más!

Obtener los archivos con @

In [6]:
def get_domain(email_adress):
    #split on ´@´and return the last piece
    return email_adress.lower().split("@")[:1]
    #last
    #return email_adress.lower().split("@")[-1]

get_domain('adolfocuentas123@gmail.com')

['adolfocuentas123']

### Delimited Files

In [12]:
import pandas as pd

file_csv = './recursos/deniro.csv'

df = pd.read_csv(file_csv, on_bad_lines='skip')

df

    Year   "Score"                  "Title"
0   1968        86              "Greetings"
1   1970        17            "Bloody Mama"
2   1971        40            "Born to Win"
3   1973        98           "Mean Streets"
4   1973        88   "Bang the Drum Slowly"
..   ...       ...                      ...
79  2014         9            "The Bag Man"
80  2015        60                    "Joy"
81  2015        26                  "Heist"
82  2015        61             "The Intern"
83  2016        11          "Dirty Grandpa"

[84 rows x 3 columns]

In [13]:
print(df.to_string())

    Year   "Score"                                     "Title"
0   1968        86                                 "Greetings"
1   1970        17                               "Bloody Mama"
2   1971        40                               "Born to Win"
3   1973        98                              "Mean Streets"
4   1973        88                      "Bang the Drum Slowly"
5   1976        41                           "The Last Tycoon"
6   1976        99                               "Taxi Driver"
7   1977        47                                      "1900"
8   1978        93                           "The Deer Hunter"
9   1980        97                               "Raging Bull"
10  1981        75                          "True Confessions"
11  1983        90                        "The King of Comedy"
12  1984        89               "Once Upon a Time in America"
13  1984        60                           "Falling in Love"
14  1985        98                                    "Brazil"
15  1986        65                               "The Mission"
16  1987       100   "Dear America: Letters Home From Vietnam"
17  1987        80                          "The Untouchables"
18  1987        78                               "Angel Heart"
19  1988        96                              "Midnight Run"
20  1989        64                                  "Jacknife"
21  1989        47                           "We're No Angels"
22  1990        88                                "Awakenings"
23  1990        29                            "Stanley & Iris"
24  1990        96                                "Goodfellas"
25  1991        76                                 "Cape Fear"
26  1991        69                                  "Mistress"
27  1991        65                       "Guilty by Suspicion"
28  1991        71                                 "Backdraft"
29  1992        87                              "Thunderheart"
30  1992        67                        "Night and the City"
31  1993        75                           "This Boy's Life"
32  1993        78                         "Mad Dog and Glory"
33  1993        96                              "A Bronx Tale"
34  1994        39               "Mary Shelley's Frankenstein"
35  1995        80                                    "Casino"
36  1995        86                                      "Heat"
37  1996        74                                  "Sleepers"
38  1996        38                                   "The Fan"
39  1996        80                             "Marvin's Room"
40  1997        85                               "Wag the Dog"
41  1997        87                              "Jackie Brown"
42  1997        72                                  "Cop Land"
43  1998        68                                     "Ronin"
44  1998        38                        "Great Expectations"
45  1999        69                              "Analyze This"
46  1999        43                                  "Flawless"
47  2000        43      "The Adventures of Rocky & Bullwinkle"
48  2000        84                          "Meet the Parents"
49  2000        41                              "Men of Honor"
50  2001        73                                 "The Score"
51  2001        33                                "15 Minutes"
52  2002        48                           "City by the Sea"
53  2002        27                              "Analyze That"
54  2003         4                                   "Godsend"
55  2004        35                                "Shark Tale"
56  2004        38                          "Meet the Fockers"
57  2005         4                "The Bridge of San Luis Rey"
58  2005        46                                      "Rent"
59  2005        13                             "Hide and Seek"
60  2006        54                         "The Good Shepherd"
61  2007        21                 "Arthur and the Invisibles"
62  2007        76                       "Captain Shakespeare"
63  2008        19                            "Righteous Kill"
64  2008        51                       "What Just Happened?"
65  2009        46                          "Everybody's Fine"
66  2010        72                                   "Machete"
67  2010        10                            "Little Fockers"
68  2010        50                                     "Stone"
69  2011        25                              "Killer Elite"
70  2011         7                            "New Year's Eve"
71  2011        70                                 "Limitless"
72  2012        92                   "Silver Linings Playbook"
73  2012        51                               "Being Flynn"
74  2012        29                                "Red Lights"
75  2013        46                                "Last Vegas"
76  2013         7                           "The Big Wedding"
77  2013        29                              "Grudge Match"
78  2013        11                            "Killing Season"
79  2014         9                               "The Bag Man"
80  2015        60                                       "Joy"
81  2015        26                                     "Heist"
82  2015        61                                "The Intern"
83  2016        11                             "Dirty Grandpa"

En este archivo vamos a hacer un pequeño tratamiento para saber cual fue la mejor epoca de Deniro en decadas

In [ ]:
def DeniroScore(x):
    return